<div >
    <table>
        <tr>
            <td>
                <div class="Watchlist">
                    Watchlist <br/>
                    {{watchlistCount}}
                </div>    
            </td>

            <td>
                Filter Seed
                Bloom Season
                    
                  <select #bloomSeason (change) = "getFilterData(bloomSeason.value)">
                    <option> Summer </option>
                    <option> Winter </option>
                    <option> Spring </option>
                    <option> Monsoon </option>
                  </select>
            </td>
            <td>
                Filter Seed 
                Types Of Seeds
                
                    <select #typesOfSeeds (change)="getFilterData1(typesOfSeeds.value)">
                        <option> Fruit Seed </option>
                        <option> Vegetable Seed </option>
                        <option> Flower Seed </option>
                        <option> Herb Seed </option>
                    </select>
                   
            </td>
        
            <td>
                Filter Seed 
                StarRating
                
                    <select #starRating (change)="getFilterData2(starRating.value)">
                        <option> 2 </option>
                        <option> 3 </option>
                        <option> 4 </option>
                        <option> 5 </option>
                    </select>
                   
            
            </td>
            
        </tr>
    </table>
   


</div>



<hr/>
<div *ngFor="let s of allSeed">
<table>
    <tr>
        <td> <img src="/assets/images/{{s.image}}" alt="Seed image" width="120px" height="150px"> </td>
        <td> 
            <h2>{{s.seedName}} </h2>
            <p> {{<s></s>.about|myDescription}} </p>
            <hr/>
            <span>Seed Price <span [style]="s.price<75?priceLowCss:priceNormalCSS" >{{<s class="price"></s>|currency}}    </span>  
                <i *ngIf="s.discount>0"> 
                    with {{s.discount}}% Off 
                    <span *ngIf="s.discount>9">
                        <b style="color: blue; font-family: Georgia, 'Times New Roman', Times, serif;"><u> Recommended</u></b>
                    </span>
                </i> 
        
            </span> 
            <br/>
        
            <hr/>
            <button value="{{s.seedName}}" (click)="addToCart(seed.value)" #seed> Add to Cart </button>
            <button value="{{s.seedName}}" (click)="addToWatchlist(seed.value)" #seed> Add to Watchlist </button>
            <br/>
            <button value="{{s.seedName}}" (click)="viewSeedDetails(seed.value)" #seed> View Details</button>

        </td>
        
    </tr>
</table>
</div>