<table style="width: 100%;height: 10%;">
  <hr />
  <tr>
    <td style="width: 10%; text-align: center;"> <a routerLink="/plant-review">Plant Review</a></td>
    <td style="width: 10%; text-align: center;"> <a routerLink="/planter-review">Planter Review</a></td>
    <td style="width: 10%; text-align: center;"> <a routerLink="/allReviews">All Reviews</a></td>
    <td style="width: 10%; text-align: center;"> <a routerLink="/reviewListByPlantId">Load Reviews</a></td>
    <td style="width: 15%; text-align: center;"> <a routerLink="/launchseeds"> Launch Seeds</a> </td>
    <td style="width: 15%; text-align: center;"> <a routerLink="/seedDetails"> Seed Details </a> </td>
    <td style="width: 15%; text-align: center;"> <a routerLink="/seedsInDB"> Seeds in DB</a> </td>
    <td style="width: 15%; text-align: center;"> <a routerLink="/filterations">  Seed Filterations</a> </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/plantsindb"> Plants In DB </a>  </td>
   <td style="width: 15%; text-align: center;">  <a routerLink="/plantfiterations"> Plant Filtertions </a>  </td>
  </tr> <td style="width: 15%; text-align: center;">  <a routerLink="/LaunchPlants">Launch new Plants</a>  </td>
 
</table>
<router-outlet></router-outlet>