<table>
    <tr>
        <div *ngFor="let x of allSeeds">
            <div> Seed Id: {{x.id}} </div>
            <div> Seed Name: {{x.seedName}} </div>
            <div> Bloom Season: {{x.bloomSeason}} </div>
            <div> Types of Seeds: {{x.typesOfSeeds}} </div>
            <div> Seed Stock: {{x.seedsStock}} </div>
            <div> Seeds Per Packet: {{x.seedsPerPacket}} </div>
            <div> Image: {{x.image}} </div>
            <div> About: {{x.about}} </div>
            <div> Discount: {{x.discount}} </div>
            <div> Rating: {{x.starRating}} </div>
            <div> Seed Price: {{x.price}} </div><br>
            <div><button value="view"
                    (click)="viewSeedDetails(x.id,x.seedName,x.bloomSeason,x.typesOfSeeds,x.seedsStock,x.seedsPerPacket,x.about,x.discount,x.image,x.starRating,x.price)">View
                    Details</button></div>
                    <!-- <button value="{{seed.seedName}}" (click)="goForReview(seed.seedName)" #seed class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        View Review
                      </button>
                    
                    
                      <div class="card card-body" *ngIf="showReview==true " >
  
                       Average Review <b> {{a}} </b>
                       <br/>
                       <div *ngFor="let x of allReviews">
                          {{x.numberOfStars}}
                          <br/>
                           {{x.content}}
                          
                          </div>
                      </div> -->
            <hr>
        </div>
    </tr>
</table>
